extends ../layouts/main-layout.pug
block styles
  link(rel="stylesheet" href="/css/admin.css")
block content
  main
    form.product-form(action=(editMode ? `/edit-product/${product._id}` : '/add-product') method="POST")
      .form-control
        label(for="name") Product
        input(type="text" name="name" id="name" value=(editMode ? product.name : ''))
      .form-control
        label(for="price") Price
        input(type="number" name="price" id="price" step="0.01" value=(editMode ? Number(product.price) : ''))
      .form-control
        label(for="imageUrl") Image URL
        input(type="text" name="imageUrl" id="imageUrl" value=(editMode ? product.imageUrl : ''))
      .form-control
        label(for="description") Description
        textarea(name="description" cols="35" rows="5" id="description") #{editMode ? product.description : ''}

      button(type="submit") #{editMode ? 'Edit' : 'Add'}