<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Cafe
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/order.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Cafe
          li.main-header__item
            a(href='/order') Order
    main
      if orders.length > 0
        .grid
          each order in orders
            article.card.product-item
              header.card__header
                h1.product__title #{order.name}
              .card__image
                img(src="/images/cafe.jpeg", alt="presentation")
              .card__content
                h2.product__price $3.50
                p.product__description A rich and velvety cafe au lait, made from a blend of sustainably grown and sourced coffee beans
              .card__actions  
                button.btn Add to cart
      else
        h1 Sorry, we have no products available at the moment