extends ../layouts/main-layout.pug

block content
  main
    div Total price - #{totalPrice}
    if productsInCart.length > 0
      ul
        each product in productsInCart
          li 
            p #{product.name} - #{product.cartItem.quantity}
            form(action="/delete-cart-product" method="POST")
              input(type="text" name="productId" value=(product.id) hidden)
              input(type="number" hidden name="price" value=(product.price))
              button.btn Delete
    else
      h1 The cart is empty
      div Total price 0