extends ../layouts/main-layout.pug

block content
  main
    div Total price - #{totalPrice}
    if productsInCart.length > 0
      ul
        each product in productsInCart
          li 
            p #{product.productId.name} - #{product.quantity}
            form(action="/delete-cart-product" method="POST")
              input(type="text" name="productId" value=(product._id) hidden)
              input(type="number" hidden name="price" value=(product.price))
              input(type='hidden' name='_csrf' value=csrfToken)
              button.btn Delete
      hr    
      form.centerEle(action="/checkout" method="POST")
        button.btn Checkout
    else
      h1 The cart is empty